/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Montserrat', sans-serif; /* Cambio del font a Montserrat */
    line-height: 1.6;
}

header {
    background-image: var(--bs-gradient);
    padding: 20px;
    text-align:center;
    overflow: hidden;
}
.sinistra{
    float: left;
}
.destra{
    float: right;
}

header h1 {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif; /* Cambio del font a Montserrat */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.feature {
    margin-bottom: 20px;
}

.feature img {
    max-width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #45a049; /* Verde scuro al passaggio del mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 20px;
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.opzioni{
    color: lightgreen;
    font-family: 'Montserrat', sans-serif; /* Cambio del font a Montserrat */
}

.lezioni{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.bordo {
        border: 5px dashed yellow; /* Colore del bordo nero con spessore 1px */
        padding: 5px; /* Spazio intorno al testo */
        display: inline-block; /* Per far sì che il bordo si adatti al contenuto */
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
  
  .logo {
    display: flex; /* Utilizza il layout a flessione */
    justify-content: left; /* Allinea gli elementi orizzontalmente al centro */
    align-items: left; /* Allinea gli elementi verticalmente al centro */
    width: 50%; /* Larghezza del DIV */
    height: auto; /* Altezza del DIV */
}
.logo2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin:auto;
    width: 100vw;
    height: 100vh;
}



.logo img {
    width:100%;
    height: 100px;
    max-width: 75%; /* Imposta la larghezza massima dell'immagine al 100% del contenitore */
    max-height: 75%; /* Imposta l'altezza massima dell'immagine al 100% del contenitore */
    vertical-align: middle; /* Centra l'immagine verticalmente */
}
.ul{
width: 50%;
height: 100%;
}

.listabottoni{
    display: flex;
}

.button-list button {
    margin: 0 5px; /* Aggiungi spazio tra i bottoni regolando i valori dei margini */
}

